h3 {
    color: darkblue;
    font-style: italic;
}

.container {
    text-align: center;
    border: 50px;
    margin: 50px
}

img {
    width: 50%;
    margin: 50px;
}

.cont {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width:600px) {
    .cont {
        flex-direction: column;
    }
}
